In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

Создание объекта Series

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
salaries = pd.Series([400, 300, 200, 250], 
              index = ['Andrew', 'Bob', 
                       'Charles', 'Ann'])

In [6]:
salaries[salaries > 250]

Andrew    400
Bob       300
dtype: int64

Индексирование возможно в виде s.Name или s['Name']

In [ ]:
print(salaries.Andrew == salaries['Andrew'])

In [7]:
salaries['Carl'] = np.nan

In [8]:
salaries

Andrew     400.0
Bob        300.0
Charles    200.0
Ann        250.0
Carl         NaN
dtype: float64

In [9]:
salaries.fillna(salaries.median(), inplace=True)

In [10]:
salaries

Andrew     400
Bob        300
Charles    200
Ann        250
dtype: int64

In [11]:
print('Second element of salaries is', salaries[1], '\n')
# Smart indexing
print(salaries[:3], '\n')
print('There are', len(salaries[salaries > 0]), 'positive elements in salaries\n')
# Series obects can be the arguments for Numpy functions
print(np.exp(salaries))

Second element of salaries is 300

Andrew     400
Bob        300
Charles    200
dtype: int64

There are 4 positive elements in salaries

Andrew     5.221470e+173
Bob        1.942426e+130
Charles     7.225974e+86
Ann        3.746455e+108
dtype: float64

DataFrame

In [23]:
df1 = pd.DataFrame(np.random.rand(5,3), 
                   index=['o1', 'o2', 'o3', 'o4', 'o5'], 
                   columns=['f1', 'f2', 'f3'])
df1

          f1        f2        f3
o1  0.096494  0.701488  0.270532
o2  0.690718  0.148392  0.932293
o3  0.035771  0.781040  0.752288
o4  0.351465  0.088110  0.461901
o5  0.802607  0.735662  0.110424

In [24]:
df2 = pd.DataFrame({'A': np.random.random(5), 
                    'B': ['a', 'b', 'c', 'd', 'e'], 
                    'C': np.arange(5) > 2})
df2

          A  B      C
0  0.606443  a  False
1  0.681265  b  False
2  0.070607  c  False
3  0.486173  d   True
4  0.063117  e   True

Обращение к элементам (или целым кускам фрейма)

In [ ]:
print('The element in position 3, B is', df2.at[3, 'B'], '\n')
print(df2.loc[[1, 4], ['A', 'B']])

Изменение элементов и добавление новых

In [ ]:
df2.at[2, 'B'] = 'f'
df2

In [ ]:
df2.loc[5] = [3.1415, 'c', False]
df2

In [ ]:
df1.columns = ['A', 'B', 'C']
df3 = df1.append(df2)
df3

Обработка пропущенных значений

In [ ]:
df1.at['o2', 'A'] = np.nan
df1.at['o4', 'C'] = np.nan
df1

Булева маска для пропущенных значений (True - там, где был пропуск, иначе - False)

In [ ]:
pd.isnull(df1)

Можно удалить все строки, где есть хотя бы один пропуск

In [ ]:
df1.dropna(how='any')

Пропуски можно заменить каким-то значением

In [ ]:
df1.fillna(0)