<h1>Урок 1. Домашнее задание.</h1>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group
<br>Выполнил: Сергей Цветков группа <strong>PY_gr2</strong>

In [85]:
import pandas as pd
import numpy as np
data = pd.read_csv('adult.data.csv')
data.head(20)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K

1.Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?
2. Каков средний возраст (признак age) женщин?
3. Какова доля граждан Германии (признак native-country)?
4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получа
ет более 50K в год (признак salary) и тех, кто получает менее 50K в год?
6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)
7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.
8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.
9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?
10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

##### 1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

###### Предварительный анализ DataFrame

In [3]:
Data_Shape = data.shape # Получаем количество строк и столбцов в DataFrame
print("Строк:",Data_Shape[0], "Столбцов:", Data_Shape[1])

Строк: 32561 Столбцов: 15

In [5]:
All_group = data.groupby('sex') # Груперовка по полю sex (пол)
Male = All_group.get_group('Male') # Обращаемся к конкретной группе 
Female = All_group.get_group('Female') # Обращаемся к конкретной группе 
# Выводим на печать количество мужчин и женщин
print ("Количество мужчин:", len(Male)) 
print ("Количество женщин:", len(Female))

Количество мужчин: 21790
Количество женщин: 10771

##### 2. Каков средний возраст (признак age) женщин?

In [21]:
mean_age = data[(data['sex'] == 'Female')]['age'].mean() # Получайм средний возраст
print("Средний возраст женщин:", round(mean_age, 2)) # Выводим средний возраст, округленный до 2-х символов после запятой

Средний возраст женщин: 36.86

##### 3. Какова доля граждан Германии (признак native-country)?

In [15]:
germany_count = data[data['native-country'] == 'Germany']['native-country'].count() # Подсчет количества записей
germany_percentage = germany_count / Data_Shape[0]
print("Количество граждан Германии:",germany_count,", что составляет", str(round(germany_percentage * 100, 2)) + "%")

Количество граждан Германии: 137 , что составляет 0.42%

##### 4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получа ет более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [26]:
rich_mean = data[data['salary'] == '>50K']['age'].mean()
poor_mean = data[data['salary'] == '<=50K']['age'].mean()

rich_std = data[data['salary'] == '>50K']['age'].std()
poor_std = data[data['salary'] == '<=50K']['age'].std()

print('Средний возраст получающих более 50К:\t', round(rich_mean, 2))
print('Среднеквадратичное отклонение:\t\t', round(rich_std, 2))
print('Средний возраст получающих менее 50К:\t', round(poor_mean, 2))
print('Среднеквадратичное отклонение:\t\t', round(poor_std, 2))

Средний возраст получающих более 50К:	 44.25
Среднеквадратичное отклонение:		 10.52
Средний возраст получающих менее 50К:	 36.78
Среднеквадратичное отклонение:		 14.02

##### 4. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [123]:
# Задаем список признаков высшего образования
higher_education_sign = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Masters', 'Doctorate'] 

# Получаем количество ВСЕХ людей, имеющих высшее образование
higher_edu = data[data['salary'] == '>50K']['education'].count()

# Получаем количество людей, имеющих высшее образование и получающие больше 50К
higher_edu_rich = data[data['education'].isin(higher_education_sign) & (data['salary'] == '>50K')]['education'].count()

print("Общее количество получающих > 50К:\t", higher_edu)
print("Из них имеют высшее образование:\t",higher_edu_rich)
print("Из них НЕ имеют высшего образования:\t",higher_edu - higher_edu_rich)
print("*"*50 )
if higher_edu_rich > higher_edu - higher_edu_rich:
#     print ("Утверждение ВЕРНО -", str(round((higher_edu_rich * 100)/ higher_edu, 2))+"%", "имеют высшее образование")
    print ("Утверждение ВЕРНО -", str(round((higher_edu_rich * 100)/ higher_edu, 2))+"%", "имеют высшее образование")
else:    
    print ("Утверждение НЕ ВЕРНО")

Общее количество получающих > 50К:	 7841
Из них имеют высшее образование:	 4174
Из них НЕ имеют высшего образования:	 3667
**************************************************
Утверждение ВЕРНО - 53.23% имеют высшее образование

##### 5. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [198]:
# Группировка по полю Раса
# race_stat = data.groupby('race')
# Получаем уникальные значения по полю Расса - необходимо для перебора
u_race = data['race'].unique()
for one_race in u_race:
    race_group = race_stat.get_group(one_race)    
    print(one_race, " - " ,race_group['race'].count())
    print("Возраст", race_group['age']).head(5)
    


# race_stat.get_group('White') # Выборка группы по рассе
# k = race_stat.get_group('White')['race'].count() # Подстчет полей по признаку White
# print(k)

White  -  27816
Возраст 0        39
1        50
2        38
5        37
7        52
         ..
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 27816, dtype: int64

AttributeError: 'NoneType' object has no attribute 'head'